<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MHFU</title>
    <link rel="stylesheet" href="/css/iconsfont.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="chrome://branding/content/about-logo.png" type="image/x-icon">
    <script src="/js/app.js" defer></script>
</head>

<body>
<div class="wrapper">
    <img src="/img/bg.jpg" alt="bg" class="wrapper__bg">
    <aside class="sidebar">
        <header class="header">
            <ul class="header__list">
                <li><a href="" title="Аккаунт" class="header__link icon-user"></a></li>
                <li><a href="" title="Настройки" class="header__link icon-settings"></a></li>
                <li><a href="" title="Закладки" class="header__link icon-bookmark"></a></li>
                <li><a href="" title="Корзина" class="header__link icon-trash"></a></li>
                <li><a href="" title="Справка" class="header__link icon-help"></a></li>
            </ul>
            <a class="add-notes" th:href="@{/}"><span class="icon-add"></span> ДОБАВИТЬ ЗАМЕТКУ</a>
        </header>
        <ul class="notes">
            <li class="notes__item" th:each="el : ${posts}">
                <a th:href="'/note/' + ${el.id}" class="notes__link"></a>
                <span class="notes__hover">Нажмите чтобы открыть заметку</span>
                <h3 class="notes__title" th:text="${el.title}" />
                <div class="notes__text" th:text="${el.text}" />
                <div class="notes__date" th:text="${#dates.format(el.createdDate, 'dd.MM.yyyy - HH:mm')}"/>

            </li>
        </ul>
    </aside>

    <main class="content" th:each="el : ${post}">
        <form action="" class="create-note" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${el.id}">
            <input type="text" placeholder="Введите заголовок" class="create-note__title" name="title" th:value="${el.title}">
            <textarea name="text" class="create-note__text" placeholder="Введите текст" th:text="${el.text}" />
            <label class="preview preview-show">
                <input type="file" name="image" accept="image/*" id="file-input" class="file-input" th:value="${el.imageName}">
                <img id="preview-image" th:src="@{/uploads/} + ${el.imageName}" alt="" class="preview-image">
                <button type="button" class="image-del icon-add" onclick="clearInput()" id="image-del-button"></button>
            </label>
            <div class="form-block">
                <label for="file-input" class="button">Выбрать изображение</label>
                <button type="submit" class="button">Обновить</button>
            </div>
            <input type="hidden" name="deleteImage" id="delete-image-input">
        </form>
    </main>
</div>
</body>
</html>














<!--


        <li class="notes__item">
          <a href="" class="notes__link"></a>
          <span class="notes__hover">Нажмите чтобы открыть заметку</span>
          <h3 class="notes__title"><a href="">Untitle</a></h3>
          <div class="notes__text">
            Здесь будет немного текста, на две строки. если заголовок пуст будет надпись untitle.
            Если заметка создана более двух дней назад должна появиться дата, а не только время.
            Нужен кастомный скролл
          </div>
          <div class="notes__date">21:05</div>
        </li>


<form action="" class="create-note">
        <input type="text" placeholder="Введите заголовок" class="create-note__title">
        <textarea name="text" class="create-note__text" placeholder="Введите текст"></textarea>
        <label class="preview">
          <img id="preview-image" src="#" alt="" class="preview-image">
          <button type="button" class="image-del icon-add" onclick="clearInput()"></button>
        </label>
        <input type="file" name="file" accept="image/*" id="file-input" class="file-input">
        <div class="form-block">
          <label for="file-input" class="button">Выбрать изображение</label>
          <button type="button" class="button">Добавить заметку</button>
        </div>
      </form>






<div class="note">
  <div class="note__setting">
    <a href="" class="note__item icon-edit"></a>
    <a href="" class="note__item icon-trash"></a>
    <a href="" class="note__item icon-bookmark"></a>
    <a href="" class="note__item">Full screen</a>
  </div>
  <h2 class="note__title">Lorem ipsum dolor sit amet.</h2>
  <div class="note__image"><img src="img/bg.jpg" alt=""></div>
  <div class="note__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis illum incidunt alias
    dolores debitis, minima impedit eos est possimus unde dolor quidem similique delectus quaerat reiciendis modi
    deleniti accusamus, veritatis at quis sequi eaque beatae. Ut voluptatem vel adipisci delectus aut mollitia
    reprehenderit, explicabo quo, fugiat quas at, vitae beatae nemo voluptas vero deserunt quibusdam molestias deleniti
    laboriosam labore voluptates. Aliquid culpa suscipit placeat ea odio officia enim quaerat impedit mollitia maxime
    quidem sapiente sed ipsa, distinctio harum vero hic debitis a molestias fuga nesciunt aut. Aliquid eveniet fuga
    cumque sint necessitatibus sequi minus animi porro? Impedit molestiae magnam blanditiis?</div>
</div>

 -->