<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MHFU</title>
    <link rel="stylesheet" href="/css/iconsfont.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="chrome://branding/content/about-logo.png" type="image/x-icon">
    <script src="/js/app.js" defer></script>
</head>
<body>
<div class="wrapper">
    <img src="/img/bg.jpg" alt="bg" class="wrapper__bg">
    <aside class="sidebar">
        <header class="header">
            <ul class="header__list">
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <button type="submit" class="header__link icon-logout" title="Выход"></button>
                    </form>
                </li>
                <li><a th:href="@{/settings}" title="Настройки" class="header__link icon-settings"></a></li>
                <li><a href="" title="Закладки" class="header__link icon-bookmark"></a></li>
                <li><a href="" title="Корзина" class="header__link icon-trash"></a></li>
                <li><a href="" title="Справка" class="header__link icon-help"></a></li>
            </ul>
            <a class="add-notes" th:href="@{/}"><span class="icon-add"></span> ДОБАВИТЬ ЗАМЕТКУ</a>
        </header>
        <ul class="notes">
            <li class="notes__item" th:each="el : ${posts}">
                <a th:href="'/note/' + ${el.id}" class="notes__link"></a>
                <span class="notes__hover">Нажмите чтобы открыть заметку</span>
                <h3 class="notes__title" th:text="${el.title}" />
                <div class="notes__text" th:text="${el.text}" />
                <div class="notes__date" th:text="${#dates.format(el.createdDate, 'dd.MM.yyyy - HH:mm')}"/>

            </li>
        </ul>
    </aside>
    <main class="content" th:each="el : ${post}">
        <form th:action="'/note/'+${el.id} +'/edit'" class="create-note" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${el.id}">
            <input type="text" placeholder="Введите заголовок" class="create-note__title" name="title" th:value="${el.title}">
            <textarea name="text" class="create-note__text" placeholder="Введите текст" th:text="${el.text}" />
            <label class="preview preview-show">
                <input type="file" name="image" accept="image/*" id="file-input" class="file-input" th:value="${el.imageName}">
                <img id="preview-image" th:src="@{/uploads/} + ${el.imageName}" alt="" class="preview-image">
                <button type="button" class="image-del icon-add" onclick="clearInput()" id="image-del-button"></button>
            </label>
            <div class="form-block">
                <label for="file-input" class="button">Выбрать изображение</label>
                <button type="submit" class="button">Обновить</button>
            </div>
            <input type="hidden" name="deleteImage" id="delete-image-input">
        </form>
    </main>
</div>
</body>
</html>