<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="shortcut icon" href="chrome://branding/content/about-logo.png" type="image/x-icon">
    </head>
    <body>
        <div class="wrapper">
            <form action="/login" class="authbox" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="authbox__main-container">
                    <header class="authbox__main-header">
                        <h1 class="authbox__title">С возвращением!</h1>
                        <p class="authbox__text">Мы так рады видеть вас снова!</p>
                    </header>
                    <div class="authbox__body">
                        <div class="authbox__block">
                            <label for="input-default" class="authbox__label">
                                Адрес электронной почты или имя пользователя <span>*</span>
                            </label>
                            <input type="text" name="username" id="input-email" required>
                        </div>
                        <div class="authbox__block">
                            <label for="input-password" class="authbox__label">Пароль <span>*</span></label>
                            <div class="input-wrapper">
                                <input type="password" name="password" id="input-password" class="password-input">
                                <img src="/img/eye.png" id="toggle-password" onclick="togglePassword(event, 'input-password', 'toggle-password')" style="cursor: pointer;">
                            </div>
                        </div>
                        <button type="submit" class="block-button" value="Login">Вход</button>
                        <div class="register-link">
                            <span>Нужна учётная запись?</span><a href="/register" class="inline-button">Зарегистрироваться</a>
                        </div>
                    </div>
                </div>
                <div th:if="${param.error}" style="color: red">
                    Неправильные имя пользователя, адрес электронной почты или пароль
                </div>
            </form>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>