<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>
        <link rel="stylesheet" href="/css/register.css">
        <link rel="shortcut icon" href="chrome://branding/content/about-logo.png" type="image/x-icon">
    </head>
    <body>
        <div class="wrapper">
            <form action="/register" class="authbox" method="post">
                <h1 class="authbox__title">Создать учётную запись</h1>
                <div class="authbox__body">
                    <label class="authbox__label">
                        E-MAIL
                        <input type="email" name="email" id="" required>
                    </label>
                    <label class="authbox__label">
                        ИМЯ ПОЛЬЗОВАТЕЛЯ
                        <input type="text" name="username" id="" required>
                    </label>
                    <label class="authbox__label">
                        ПАРОЛЬ
                        <input type="password" name="password" id="" required>
                    </label>
                    <button type="submit" class="block-button">Продолжить</button>
                    <a href="/login" class="inline-button">Уже зарегистрированы?</a>
                </div>
            </form>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>
