<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MHFU</title>
    <link rel="stylesheet" href="/css/iconsfont.css">
    <link rel="stylesheet" href="/css/main.css">
    <link id="theme-link" rel="stylesheet" th:href="${userTheme}">
    <link rel="shortcut icon" href="chrome://branding/content/about-logo.png" type="image/x-icon">
    <script src="/js/app.js" defer></script>
</head>
<body>
<div class="wrapper">
    <aside class="sidebar">
        <header class="header">
            <ul class="header__list">
                <li>
                    <div class="burger-menu" id="hide-menu">
                        <div class="burger-icon">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <button type="submit" class="header__link icon-logout" title="Выход"></button>
                    </form>
                </li>
                <li><a th:href="@{/settings}" title="Настройки" class="header__link icon-settings"></a></li>
                <li><a th:href="@{/starred}" title="Закладки" class="header__link icon-bookmark"></a></li>
                <li><a th:href="@{/trash}" title="Корзина" class="header__link icon-trash nav-focus"></a></li>
                <li><a th:href="@{/help}" title="Справка" class="header__link icon-help"></a></li>
            </ul>
            <a class="add-notes" th:href="@{/}"><span class="icon-add"></span> ДОБАВИТЬ ЗАМЕТКУ</a>
        </header>
        <ul class="notes">
            <li class="notes__item" th:each="el : ${posts}">
                <a th:href="'/trash/note/' + ${el.id}" class="notes__link"></a>
                <span class="notes__hover">Нажмите чтобы открыть заметку</span>
                <h3 class="notes__title" th:text="${el.title}" />
                <div class="notes__text" th:text="${el.text}" />
                <div class="notes__icons">
                    <div class="notes__icon" th:classappend="${el.isDeleted} ? 'icon-trash' : ''"></div>
                    <div class="notes__date" th:text="${#dates.format(el.createdDate, 'dd.MM.yyyy - HH:mm')}"/>
                </div>
            </li>
        </ul>
    </aside>
    <main class="content">
        <div class="burger-menu" id="burger-menu">
            <div class="burger-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>

        <div class="note" th:each="el : ${post}">
            <div class="note__setting">
                <form th:action="'/note/' + ${el.id} + '/removeForever'" method="post">
                    <button class="note__item icon-trash-red"  type="submit" title="Безвозвратное удаление"></button>
                </form>
                <form th:action="'/note/' + ${el.id} + '/restore'" method="post">
                    <button class="note__item icon-restore" type="submit" title="Восстановить" style="color: red;"></button>
                </form>
            </div>
            <h2 class="note__title" th:text="${el.title}" />
            <div class="note__image" th:if="${el.imageName}"><img th:src="@{/uploads/} + ${el.imageName}" th:alt="${el.imageName}"></div>
            <div class="note__text" th:text="${el.text}" />
        </div>
    </main>
</div>
<script src="/js/response.js"></script>q
<script src="/js/settings.js"></script>
</body>
</html>